<div class="container d-flex justify-content-center mt-5 background">
  <form [formGroup]="contactForm" class="row g-3 needs-validation" novalidate (submit)="enviar($event)">
    <!--NEW CODE-->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre Usuario </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name"
              formControlName="name"
              [ngClass]="{'is-invalid' : hasErrors('name', 'required')}">
          <!-- Se agregó el mensaje de error para el campo 'name' -->
          <div *ngIf="hasErrors('name', 'required')" class="text-danger">
              You have to complete this field
          </div>
    </div>
    <!--END NEW CODE-->

    <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email </label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
              formControlName="email"
              [ngClass]="{'is-invalid' : hasErrors('email', 'required') || hasErrors('email', 'email')}">
          <div *ngIf="hasErrors('email', 'required')" class="text-danger">
              You have to complete this field
          </div>
          <div *ngIf="hasErrors('email', 'email')" class="text-danger">
              Invalid email format
          </div>
      </div>

      <div class="mb-3">
        <label for="birthdate" class="form-label">Birthdate</label>
        <input type="date" class="form-control" id="birthdate" formControlName="birthdate"
            [ngClass]="{'is-invalid' : hasErrors('birthdate', 'required') || hasErrors('birthdate', 'underage')}">
        <!-- Se agregó el mensaje de error para el campo 'birthdate' -->
        <div *ngIf="hasErrors('birthdate', 'required')" class="text-danger">
            You have to select your birthdate
        </div>
        <div *ngIf="hasErrors('birthdate', 'underage')" class="text-danger">
            You must be at least 13 years old to register
        </div>
    </div>

    <!--NEW CODE-->
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Your Password"
            formControlName="password"
            [ngClass]="{'is-invalid' : hasErrors('password', 'required') || hasErrors('password', 'minlength') || hasErrors('password', 'maxlength')}">
        <div *ngIf="hasErrors('password', 'required')" class="text-danger">
            You have to complete this field
        </div>
        <div *ngIf="hasErrors('password', 'minlength')" class="text-danger">
            Password no puede tener menos de 7 caracteres.
        </div>
        <div *ngIf="hasErrors('password', 'maxlength')" class="text-danger">
          Password no puede tener menos de 18 caracteres.
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Your Password"
            formControlName="confirmPassword"
            [ngClass]="{'is-invalid' : hasErrors('confirmPassword', 'required') || hasErrors('confirmPassword', 'passwordMismatch')}">
        <div *ngIf="hasErrors('confirmPassword', 'required')" class="text-danger">
            You have to complete this field
        </div>
        <div *ngIf="hasErrors('confirmPassword', 'passwordMismatch')" class="text-danger">
            Passwords do not match
        </div>
    </div>
    <!--END NEW CODE-->

      <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>
</div>
